<%- include('../../partials/issue-header') %>

    <body id="pwr-with-battery" onLoad="bugRoute()">
        <%- include('../../partials/issue-navbar') %>


            <div class="direction">
                <h3>Motherboard power with battery but does not power with adapter</h3>
                <p>What the navigator reckon is you approach the motherboard like it a case of motherboard not turning
                    on.
                    Basically in faults like this, it is mostly caused by adapter voltage not getting to CLR.
                    Nevertheless,
                    assume the motherboard is dead and use the navigator to check the needful voltages/signls.</p>
                <div class="arrow">
                    <button class="btn option" onclick="location.href='no-pwr.ejs'" type="button" name="button">Let
                        tackle it as motherboard not
                        powering</button>
                </div>

                <details>
                    <summary>Hint</summary>
                    <p>Why do I have to approach this fault like a "motherboard not powering" case? Because first
                        troubleshooting process in "motherboard not powering" case is adapter detection aside from RTC
                        section.
                    </p>
                </details>
                <!-- Bug form using ejs template-->
                <%- include('../../partials/navigator-bug-form') %>
            </div>

            <!-- footer -->
            <!-- Footer using ejs template-->
            <%- include('../../partials/footer') %>

                <script src="https://code.jquery.com/jquery-3.6.0.js"
                    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

                    <script src="../../js/index2.js" charset="utf-8"></script>
                <!-- Bug for script file using ejs template. It's not working  using external script-->
                <%- include('../../partials/bug') %>
    </body>

    </html>