<%- include('../../partials/issue-header') %>

  <body id="short-in-pwm-coil" onLoad="bugRoute()">
    <%- include('../../partials/issue-navbar') %>

      <div class="direction">
        <h3>Short in PWM output coil</h3>
        <p>When ever you have impedance issue on PWM coil, you can always separate the particular PWM section form
          the motherboard by lifting one pin or removing the PWM output coil. This is actually reckoned so as to
          know weather the faulty is in other section of the motherboard or the PWM circuit itself is faulty.
        </p>
        <p>Follow the below steps to clear the short.</p>
        <ol>
          <li>Lift up one leg of output coil and check impedence of both separated part individual</li>
          <li>The part of the two legs of the coil that has short is where attention will be placed on.</li>
          <li>Reduce the DC supply voltage to voltage not more than PWM output voltage.</li>
          <li>Reduce amps to around 1amps or less.</li>
          <li>Connect negative of DC supply to Ground of the motherboard.</li>
          <li>Connect positive of DC supply to shorted part.</li>
          <li>Turn on your DC supply and gentle search for any heating component.</li>
          <li>If you can't find heating component, keep increasing the amps and search for any heating component.</li>
          <li>Do not increase above shorted voltage.</li>
        </ol>
        <P>Once you find any heating component, take the component out of the motherboard and check impedance again at
          your
          testing point.</P>
        <P>If impedance is good after taking out the component, replace it with good one and proceed by testing
          motherboard after replacing faulty component.</P>
        <p>If impedance is still bad, repeat the same process untill the short is clear.</p>
        <button class="btn option" onclick="location.href='mb-issue.ejs'" type="button" name="button">THANK YOU</button>
      </div>
      <p>If problem does not resolve after rectifying this, continue troubleshooting by navigating to the current state
        of your motherboard</p>

      <!-- Bug form using ejs template-->
      <%- include('../../partials/navigator-bug-form') %>
        </div>


        <!-- Footer using ejs template-->
        <%- include('../../partials/footer') %>

          <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

            <script src="../../js/index2.js" charset="utf-8"></script>

          <!-- Bug for script file using ejs template. It's not working  using external script-->
          <%- include('../../partials/bug') %>

  </body>

  </html>