<%- include('../partials/quiz-header') %>

    <body>
        <%- include('../partials/navbar') %>
            <section>
                <div class="trial" style="display: none;">
                    <%= JSON.stringify(quizs) %>
                </div>
                <% quizs.forEach(quiz=>{ %>

                    <% }) %>

                        <div class="home-box custom-box">
                            <h3>Instruction:</h3>
                            <p>Total number of questions: <span class="total-question"></span></p>
                            <button type="button" class="btn" onclick="startQuiz()">Start Quiz</button>
                        </div>
                        <div class="quiz-box custom-box hide">
                            <div class="question-number">

                            </div>
                            <div class="question-text">

                            </div>
                            <div class="option-container">
                            </div>
                            <div class="next-question-btn">
                                <button type="button" class="btn" onclick="next()">Next</button>
                            </div>
                            <div class="answers-indicator">

                            </div>
                        </div>
                        <%- include('../partials/pic-quiz-bug-form') %>
                            <div class="result-box custom-box hide">
                                <h1>Quiz Result</h1>
                                <table>
                                    <tr>
                                        <td>Total Qustion</td>
                                        <td><span class="total-question"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Attempt</td>
                                        <td><span class="total-attempt"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Correct</td>
                                        <td><span class="total-correct"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Wrong</td>
                                        <td><span class="total-wrong"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Percentage</td>
                                        <td><span class="percentage">60.60%</span></td>
                                    </tr>
                                    <tr>
                                        <td>Your Total Score</td>
                                        <td><span class="total-score">3 / 5</span></td>
                                    </tr>
                                </table>
                                <button type="button" class="btn" onclick="tryAgainQuiz()">Try Again</button>
                                <button type="button" class="btn" onclick="location.href='../index.ejs'">Go to Home</button>
                            </div>


                            <script src="../js/picture-quiz.js"></script>
                            <%- include('../partials/bug') %>
    </body>

    </html>