<%- include('../partials/header') %>

  <body id="random-secret-clue">
    <%- include('../partials/navbar') %>

      <section id="carousel" style="padding: 0; margin: 0;">


        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner invisible">
            <!-- Each slide is  a div and the div is passed from js file into this current div  -->
            <div class="carousel-item active">
              <div class='item'>
                <!-- used to get content from server -->
                <h3><%= carouselActive.title %> </h3> 
                <br>
                <img src="../uploads/clue-images/<%=carouselActive.img %>" class='d-block w-100' alt='load'>
              </div>
              <div class="clue-content">
                <div class="stroke"> </div>
                <p>
                  <%= carouselActive.description %>
                </p>
              </div>
            </div>

            <!-- Used to loop through all availabe clues -->
            <% clues.forEach(clue=>{ %>
              <div class="carousel-item">
                <div class='item'>
                  <!-- used to get content from server -->
                  <h3><%= clue.title %></h3>
                  <br>
                  <img src="../uploads/clue-images/<%= clue.img %>" class='d-block w-100' alt='load'>
                  <div class="clue-content">
                    <div class="stroke"> </div>
                    <p> <%= clue.description %></p>
                  </div>
                  
                </div>
              </div>

              <% }) %>
          </div>
          <div class="arrow" style="margin: 200px;">
            <button class="random-carousel btn option">Generate clue</button>
          </div>

      </section>


      <!-- Footer using ejs template-->
      <%- include('../partials/footer') %>

        <script src="../js/secret-clue.js" charset="utf-8"></script>
  </body>

  </html>


  <!-- For calling function at a regular interval -->
  <!-- https://www.codegrepper.com/code-examples/javascript/how+to+run+loop+after+interval -->